/* body..................................................... */
body {
    background: black;
    font-family: URW Chancery L, cursive;
}


/* navbar...................................................... */

.nav-logo-image {
    width: 16rem;
    position: absolute;
    left: 20px;
    top: -70px;
}

.navbar-collapse ul li a {
    color: white;
    margin-left: 1.2rem;
}

.navbar-collapse ul li a:hover {
    color: white;
}

.navbar-collapse ul li a:focus {
    color: white;
}

.nav-banner-img {
    width: 10rem;
    height: 4rem;
    margin-left: 5rem;
}

.menu-bar {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.login-box {
    margin-right: 3rem;
}

/* banner............................................................*/

.banner-box {
    position: absolute;
    top: 0px;
    width: 100%;

}

.banner-box-img {
    width: 100%;
    height: 100%;
}

.bannertext {
    position: relative;
    bottom: 300px;
    color: white;
    width: 50%;
    left: 120px;
}


.bannertext h2 {
    font-size: 5rem;
    margin-bottom: 2.4rem;
}

.bannertext p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.banner-button {
    display: flex;
    gap: 2rem;
}






/* toast................................................................. */

.toast {
    z-index: 12;
}





/* media for 992......................................................... */

@media (max-width: 992px) {
    .nav-logo-image {
        width: 13rem;
        position: absolute;
        left: 20px;
        top: -54px;
    }


    .bannertext {
        display: none;
    }

}





/* media for 600................................................................................. */
@media (max-width: 600px) {

    .nav-logo-image {
        width: 12rem;
        position: absolute;
        left: -6px;
        top: -47px
    }

    .banner-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bannertext {
        display: none;
    }

}