/* body..................................................... */
body {
    background: black;
    font-family: URW Chancery L, cursive;
}


/* navbar...................................................... */

.nav-logo-image {
    width: 16rem;
    position: absolute;
    left: 20px;
    top: -70px;
}

.navbar-collapse ul li a {
    color: white;
    margin-left: 1.2rem;
}

.navbar-collapse ul li a:hover {
    color: white;
}

.navbar-collapse ul li a:focus {
    color: white;
}

.nav-banner-img {
    width: 10rem;
    height: 4rem;
    margin-left: 5rem;
}

.menu-bar {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    z-index: 1;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 8px black;
}

.login-box {
    margin-right: 3rem;
}

.login-nav-btn:focus,
.login-nav-btn:active {
    box-shadow: none;
    outline: none;
}


.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
    outline: none;
}

/* banner............................................................*/

.banner-box {
    position: absolute;
    top: 0px;
    width: 100%;

}

.banner-box-img {
    width: 100%;
    height: 100%;
}

.bannertext {
    position: relative;
    bottom: 320px;
    color: white;
    width: 50%;
    left: 120px;
}


.bannertext h2 {
    font-size: 5rem;
    margin-bottom: 2.4rem;
}

.bannertext p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.banner-button {
    display: flex;
    gap: 2rem;
}


/* authbox....................................................... */

.authbox {
    position: absolute;
    top: 0;
    background: url(./assets/authimg.jpg);
    background-size: cover;
    height: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sigininbox {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    height: 20rem;
    width: 22rem;
    display: flex;
    padding: 1.2rem;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0 0 5px white;
}

.sigininbox input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-left: 2rem;
    color: white;
    outline: none;
}

.sigininbox input:focus,
.sigininbox input:active {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid white;
    color: white;
}


.sigininbox button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sigininbox button:focus,
.sigininbox button:active {
    box-shadow: none;
    outline: none;
}


.sigininbox span {
    color: white;
}

.sigininbox .signuplink {
    color: white;
    text-decoration: none;
}


.link-signup {
    text-align: center;
}



.signupbox {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    height: 26rem;
    width: 22rem;
    display: flex;
    padding: 1.2rem;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0 0 5px white;
}


.signupbox input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-left: 2rem;
    color: white;
    outline: none;
}

.signupbox input:focus,
.signupbox input:active {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid white;
    color: white;
}


.signupbox button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signupbox button:focus,
.signupbox button:active {
    box-shadow: none;
    outline: none;
}


.signupbox span {
    color: white;
}

.signupbox .signuplink {
    color: white;
    text-decoration: none;
}


/* toast................................................................. */

.toast {
    z-index: 12;
}





/* media for 992......................................................... */

@media (max-width: 992px) {
    .nav-logo-image {
        width: 13rem;
        position: absolute;
        left: 20px;
        top: -54px;
    }


    .bannertext {
        display: none;
    }

}





/* media for 600................................................................................. */
@media (max-width: 600px) {

    .nav-logo-image {
        width: 12rem;
        position: absolute;
        left: -6px;
        top: -47px
    }

    .banner-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bannertext {
        display: none;
    }

    .sigininbox {
        background-color: transparent;
        backdrop-filter: blur(10px);
        height: 20rem;
        width: 22rem;
        display: flex;
        padding: 1.2rem;
        border-radius: 20px;
        flex-direction: column;
        box-shadow: 0 0 5px white;
    }


    .signupbox {
        background-color: transparent;
        backdrop-filter: blur(5px);
        height: 26rem;
        width: 22rem;
        display: flex;
        padding: 1.2rem;
        border-radius: 20px;
        flex-direction: column;
        box-shadow: 0 0 5px white;
    }

}